<form>
  <fieldset>
    <div class="page-header">
      <h1>Edytuj przepis</h1>
      {{view Ember.TextField valueBinding="name"}}
      <div class="btn-group">
        <button class="btn" {{action cancel}}>Anuluj</button>
        <button class="btn" {{action save}}>Zapisz</button>
      </div>
    </div>
    <h2>Opis:</h2>
      {{view Ember.TextArea valueBinding="description" rows="4" class="input-block-level"}}
    <h2>
      Składniki: <button class="btn" {{action addIngredient}}>Dodaj</button>
    </h2>
    <ul>
      {{#each ingredients itemTagName="li"}}
        {{render "ingredients.edit" this}}
        <button class="btn" {{action removeIngredient this}}>Usuń</button>
      {{/each}}
    </ul>
    <h2>Instrukcje:</h2>
    {{view Ember.TextArea valueBinding="rawSteps" rows="6" class="input-block-level"}}
  </fieldset>
</form>
